<% [
		{ name: "permalink", label: "Permanent Link" },
		{ name: "title", label: "Title" },
		{ name: "content", label: "Content", type: "textarea" } ].forEach( function( item ) { %>
	<div class="list-row clear-floats">
		<div class="list-cell label-cell">
			<%- item.label %>
		</div>
		<div class="list-cell content-cell">
			<%- form[ item.type || "input" ](item.name) %>
		</div>
	</div>
<% } ); %>