<% [
		{ name: "permalink", label: "permalink" },
		{ name: "title", label: "Title" },
		{ name: "excerpt", label: "Excerpt" },
		{ name: "content", label: "Content", type: "textarea" },
		{ name: "published_date", label: "Published Date" },
		{ name: "published", label: "Published", type: "checkbox" } ].forEach( function( item ) { %>
	<div class="list-row clear-floats">
		<div class="list-cell label-cell">
			<%- item.label %>
		</div>
		<div class="list-cell content-cell">
			<%- form[ item.type || "input" ](item.name) %>
		</div>
	</div>
<% } ); %>
