<% [
		{ name: "permalink" },
		{ name: "title" },
		{ name: "content" },
		{ name: "published_date" },
		{ name: "published", type: "checkbox" } ].forEach( function( item ) { %>
	<div class="list-row clear-floats">
		<div class="list-cell label-cell">
			<%- form.label(item.name) %>
		</div>
		<div class="list-cell content-cell">
			<%- form[ item.type || "input" ](item.name) %>
		</div>
	</div>
<% } ); %>