<% ["permalink", "title", "content", "published_date", "published"].forEach( function( data_type ) { %>
	<div class="clearfix">
		<%- form.label(data_type) %>
		<div class="input">
			<%- form.input(data_type) %>
		</div>
	</div>
<% } ); %>