<h1>Details of post</h1>

<% ["permalink", "title", "excerpt", "content", "published_date", "published"].forEach( function( data_type ) { %>
	<%- data_type + ": " + post[ data_type ] %><br/>
<% } ); %>
