<div class="nav clear-floats">
	<ul class="nav-list">
		<li class="nav-list-item" onclick="location.href='/admin/users';">Users</li>
		<li class="nav-list-item" onclick="location.href='/admin/posts';">Posts</li>
		<li class="nav-list-item" onclick="location.href='/admin/logout'; return false;">Logout</li>
	</ul>
</div>
